@font-face {
    font-family: "Intro Light";
    src: url("../fonts/Intro-Light.otf") format("opentype");
  }
  
@font-face {
  font-family: "Lazurski";
  src: url("../fonts/Lazurski-Regular.otf") format("opentype");
}

@font-face {
  font-family: "Lazurski Bold";
  src: url("../fonts/Lazurski-Bold.otf") format("opentype");
  font-weight: bold;
}
  
html {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  background-color: #21120C;
}

main {
  overflow: hidden;
}

p {
  margin: 10px 0;
  color: #FFFFFF;
  font-family: "Intro Light";
  font-size: 16px;
  line-height: 26px;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.hidden {
  display: none !important;
}



.demarcation-line {
  margin: 0;
  margin-top: 30px;
  height: 2px;
  background-color: rgba(224, 139, 102, 0.5);
  border: none;
}








// mixin

@import "./mixin";

// Сторонние стили

@import "./block/tiny-slider";

// element

@import "./element/logo";
@import "./element/title";
@import "./element/link";
@import "./element/button";
@import "./element/icon";
@import "./element/form-element";
@import "./element/product-card";
@import "./element/address";
@import "./element/call";
@import "./element/email";
@import "./element/operating-mode";
@import "./element/requisites";
@import "./element/characteristics";
@import "./element/certificates-card";

// block

@import "./block/small-block/social-menu";
@import "./block/small-block/payment-methods";
@import "./block/small-block/flow-menu";
@import "./block/small-block/breadcrumbs";
@import "./block/small-block/page-filter";
@import "./block/small-block/pagination";
@import "./block/small-block/filter";
@import "./block/small-block/tabs";
@import "./block/small-block/section-skew";
@import "./block/small-block/partners-list";

@import "./block/header";
@import "./block/slider";
@import "./block/banner";
@import "./block/advantages";
@import "./block/our-products";
@import "./block/collections";
@import "./block/stocks";
@import "./block/company";
@import "./block/new-design";
@import "./block/footer";

@import "./block/catalog-our-products";
@import "./block/section-card";
@import "./block/price-list";
@import "./block/card-item";
@import "./block/favorites";
@import "./block/collection-information";
@import "./block/collection-products";
@import "./block/all-collections";
@import "./block/for-buyer";
@import "./block/work-process";
@import "./block/section-faq";
@import "./block/reviews";
@import "./block/contacts";
@import "./block/search-section";
@import "./block/order-section";
@import "./block/execution-process";
@import "./block/about-company";
@import "./block/partners";
@import "./block/certificates";
@import "./block/news";

// PopUp

@import "./block/popup";
@import "./block/popup-main-menu";
@import "./block/popup-search";
@import "./block/popup-request-call";
@import "./block/popup-leave-feedback";
@import "./block/popup-product-card";
@import "./block/popup-order-form";
@import "./block/popup-successful";
@import "./block/popup-ring-size";

// page

// @import "./page";
@import "./page/page";
@import "./page/page-collections";
@import "./page/page-collection";
@import "./page/page-for-buyer";
@import "./page/page-contacts";
@import "./page/page-order";
@import "./page/page-about";
@import "./page/page-news";




@media screen and (min-width: 1440px) {
  .main-page {
    position: relative;
    overflow: hidden;
  }

  .main-page::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 215px;
    width: 2px;
    background-color: rgba(215, 130, 93, 0.2);
    z-index: 100;
  }
}

@media screen and (min-width: 1921px) {
  .main-page {
    margin-left: auto;
    margin-right: auto;
    width: 1920px !important;
  }
}


.our-products {
  z-index: 1;

  &::before {
    background-image: linear-gradient(#0C0704, #190E09);
    -webkit-filter: blur(1px);
  }
}

.new-design {
  z-index: 1;
  background-color: #170D08;

  &::before {
    background-color: #170D08;
    height: 95%;

    @media screen and (min-width: 1366px) {
      background-image: url(../img/new-design-image2.png);
      background-repeat: no-repeat;
      background-size: 470px auto;
      background-position: top 0 right 60px;
    }

    @media screen and (min-width: 1920px) {
      background-position: top 0 right 260px;
    } 
  }
}

.footer {
  position: relative;
  z-index: 1;

  &::before {
    background-color: #0D0705;
    height: 95%;
    z-index: -1;
  }
}