.popup-horizontal-filter {
    
}

.horizontal-filter {
    display: flex;
    flex-direction: column;
    margin: 12px;
    width: 300px;
    font-family: "Lazurski";
    background: #160D08;
    border: 1px solid rgba(224, 139, 102, 0.3);
}

.horizontal-filter__close {
    position: absolute;
    top: 35px;
    right: 25px;

    svg {
        width: 16px !important;
        height: 16px !important;
    }
}

.horizontal-filter__left {
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    border-right: 1px solid rgba(224, 139, 102, 0.3);
}

.horizontal-filter__title {
    font-family: "Lazurski Bold";
    margin: 30px;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: 1px;
    color: #F8F8F8;
}

.horizontal-filter__reset {
    padding: 30px 25px;
    padding-left: 28px;
    margin-right: -2px;
    transform: translate(-1px, 1px);
    text-align: left;
    font-family: "Lazurski Bold";
    font-size: 24px;
    line-height: 32px;
    letter-spacing: 1px;
    color: #E08B66;
    text-decoration: none;
    background-color: transparent;
    border: 1px solid rgba(224, 139, 102, 0.7);
    transition: color 300ms;
    outline: none;
}

.horizontal-filter__reset:hover {
    color: #fff;
    cursor: pointer;
}


.horizontal-filter__right {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    position: relative;
    padding: 50px 25px;
}

.horizontal-filter__field {
    flex-shrink: 0;
}

.horizontal-filter__field + .horizontal-filter__field {
    margin-top: 70px;
}

.horizontal-filter__field-title {
    margin-top: 0;
    margin-bottom: 20px;
    font-family: "Lazurski";
    font-weight: normal;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: 2px;
    color: #F8F8F8;
}

.horizontal-filter__submit {
    padding: 30px 25px;
    position: absolute;
    top: 100%;
    right: -1px;
    text-align: left;
    width: 302px;
    font-family: "Lazurski Bold";
    font-size: 24px;
    line-height: 32px;
    letter-spacing: 1px;
    color: #E08B66;
    background-color: #160D08;;
    border: 1px solid rgba(224, 139, 102, 0.7);
    transition: color 300ms;
    outline: none;
}

.horizontal-filter__submit:hover {
    color: #fff;
    cursor: pointer;
}

.horizontal-filter .filter__price-wrapper {
    display: flex;

    .filter__price-min,
    .filter__price-max {
        width: 40%;
        box-sizing: border-box;
    }
}

@media screen and (min-width: 1440px) {
    .horizontal-filter {
        flex-direction: row;
        margin: 20px auto;
        width: 1390px;
    }

    .horizontal-filter__right {
        flex-direction: row;
        flex-wrap: wrap;
        padding: 30px 50px;
        padding-top: 0;
    }

    .horizontal-filter .filter__price-wrapper {
        .filter__price-min,
        .filter__price-max {
            width: 100px;
        }
    }

    .horizontal-filter__field {
        margin-top: 30px;
        margin-right: 60px;
    }

    .horizontal-filter__field:last-of-type {
        margin-right: 0;
    }

    .horizontal-filter__field + .horizontal-filter__field {
        margin-top: 30px;
    }

    .horizontal-filter__field-box {
        display: flex;
        flex-wrap: wrap;
        margin-right: -50px;
        margin-bottom: -16px;
        max-width: 250px;
    
        .filter__section-checkbox,
        .filter__section-radio {
            margin-right: 50px;
            margin-bottom: 16px;
        }
    }

    .horizontal-filter__reset,
    .horizontal-filter__submit {
        padding: 30px;
        width: auto;
    }
}

@media screen and (min-width: 1920px) {
    .horizontal-filter {
        width: 1510px;
    }

    .horizontal-filter__right {
        padding: 30px 50px;
        padding-top: 0;
    }

    .horizontal-filter__field {
        margin-right: 80px;
    }

    .popup-horizontal-filter__form {
        transform: translateX(105px);
    }
}