.pagination {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.pagination__link {
  padding: 7px 10px;
  font-family: "Lazurski";
  font-size: 24px;
  line-height: 32px;
  letter-spacing: -0.191667px;

  color: #FFFFFF;
  text-decoration: none;
  transition: color 300ms;
}

.pagination__link:hover {
  color: rgba(255,255,255,.5);
}

.pagination__link-next {
  position: relative;
  display: flex;
  align-items: center;
  width: 81px;
  box-sizing: border-box;
}

.pagination__link-next svg {
  position: absolute;
  left: 10px;
  transition: left 300ms;
}

.pagination__link-next:hover svg {
  left: 30px;
}

@media screen and (min-width: 768px) {
  .pagination__link {
    padding: 15px;
    font-size: 36px;
  }

  .pagination__link-next:hover {
    padding-left: 35px;
  }
}