.different-slider__list {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 30px 0;
}
.different-slider__item.slick-slide {
    margin-bottom: 150px;
}
.different-slider__item {
    position: relative;
}
.card-item .different-slider__item {
    margin-bottom: 80px;
}
.different-slider__item .slider__item {
    position: absolute;
    top: 15%;
    height: 100%;
    width: 140%;
    display: flex;
    align-items: flex-end;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    transition: 300ms;
    cursor: pointer;
    box-sizing: border-box;
}
.different-slider__item:nth-child(3n) .slider__item {
    top: 15%;
}
.different-slider__item:nth-child(2n) .slider__item {
    top: 9%;
}
.different-slider__item .slider__item.slider__item-active {
    top: 0;
    left: 0;
    z-index: 10;
    cursor: auto;
}
.different-slider__item .slider__item:before {
    content: '';
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    background: rgb(17, 17, 17);
    background: linear-gradient(180deg, rgba(17, 17, 17, 0.32) 0%, rgba(17, 17, 17, 1) 100%);
}
.different-slider__item .slider__item.slider__item-active:before {
    background: rgb(17,17,17);
    background: linear-gradient(180deg, rgba(17,17,17,0) 0%, rgba(17,17,17,0.3) 85%, rgba(0,0,0,.8) 100%);
}
.different-slider__item:not(.slick-slide) .slider__item:before {
    background: rgb(17,17,17);
    background: linear-gradient(180deg, rgba(17,17,17,0) 0%, rgba(17,17,17,0.3) 85%, rgba(0,0,0,.8) 100%);
}
.different-slider__item:not(.slick-slide) .slider__item {
    top: 0;
}
.different-slider__item.quad .slider__item.slider__item-active:before {
    background: none;
}
.horizontal {
    width: 517px;
    height: 527px;
}
.vertical {
    width: 316px;
    height: 650px;
}
.quad {
    width: 429px;
    height: 600px;
}

.slider__item-desc {
    position: relative;
    padding: 30px 65px;
}
.slider__item-desc-content {
    margin-bottom: 25px;
    max-height: 165px;
    overflow: auto;
}
.slider__item-desc-title {
    position: relative;
    color: #fff;
    font-size: 1.5em;
    letter-spacing: 2px;
    line-height: 1.5;
    margin-bottom: 45px;
}
.slider__item-desc-title:before {
    content: '';
    position: absolute;
    display: block;
    width: 87px;
    height: 2px;
    left: 0;
    bottom: -18px;
    background-color: #E08B66;
}
.different-slider__nav {
    position: relative;
    display: flex;
    border-top: 1px solid #775C4B;
}
.slider__nav-list {
    width: 100%;
    margin-left: -20px;
}
.slider__nav-list ul {
    position: relative;
    display: flex;
    justify-content: space-between;
    width: calc(100% - 60px);
    align-items: flex-start;
    margin: 0;
    padding: 0;
    list-style: none;
}
.slider__nav-list li {
    display: inline-block;
}
.slider__nav-list button {
    position: relative;
    font-family: 'Lazurski', sans-serif;
    font-size: 1.1em;
    background: transparent;
    line-height: 2;
    letter-spacing: 2px;
    color: #fff;
    padding: 10px 0;
    margin: 0;
    border: none;
    width: 40px;
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 300;
    cursor: pointer;
    transition: 150ms;
}
.slider__nav-list button.active-prev {
    color: #86533C;
}
.slider__nav-list button.active-prev:before {
    background: #AF6A4D;
}
.slider__nav-list .slick-active button {
    font-size: 2.2em;
    color: #AF6A4D;
}
.slider__nav-list button:before {
    content: '';
    position: absolute;
    display: block;
    width: 9px;
    top: -4.5px;
    left: calc(50% - 4.5px);
    height: 9px;
    border-radius: 50%;
    background: #775C4B;
    transition: 50ms;
    box-sizing: border-box;
}
.slider__nav-list .slick-active button:before {
    width: 12px;
    top: -6px;
    left: calc(50% - 6px);
    height: 12px;
    background: #AF6A4D;
}
.slider__nav-list .slick-active button:after {
    content: '';
    position: absolute;
    display: block;
    width: 18px;
    top: -9px;
    left: calc(50% - 9px);
    height: 18px;
    border: 1px solid #AF6A4D;
    border-radius: 50%;
    background: transparent;
    box-sizing: border-box;
}
.slider__nav-progress {
    position: absolute;
    top: -1.5px;
    left: 0;
    height: 3px;
    background: #AF6A4D;
}

@media screen and (min-width: 768px) {
    .work-process__slider-wrapper .different-slider__item .slider__item.slider__item-active,
    .page-order__execution-process .different-slider__item .slider__item.slider__item-active,
    .section-faq .different-slider__item .slider__item.slider__item-active {
        border: 1px solid #E08B66;
    }
}

@media screen and (min-width: 1200px) {
    .work-process__slider-wrapper .slider__item.slider__item-active,
    .page-order__execution-process .slider__item.slider__item-active,
    .section-faq .different-slider__item .slider__item.slider__item-active {
        border: 1px solid #E08B66;
    }
}

@media screen and (max-width: 1199px) {
    .different-slider__item.slick-slide {
        margin-bottom: 100px;
    }
    .different-slider__nav {
        display: none;
    }
    .slider__item .next,
    .slider__item .prev {
        display: none;
    }
    .horizontal {
        width: 381px;
        height: 390px;
    }
    .vertical {
        width: 235px;
        height: 576px;
    }
    .quad {
        width: 286px;
        height: 400px;
    }
    .vertical .slider__item-desc {
        padding: 20px;
    }
    .horizontal .slider__item-desc {
        padding: 40px 40px 40px 60px;
    }
}

@media screen and (max-width: 767px) {
    .card-item .different-slider__item.slick-slide,
    .page-collection__information .different-slider__item.slick-slide {
        margin-bottom: 0;
    }
    .page-news__other .different-slider__item {
        margin-bottom: 368px;
    }
    .different-slider__item.slick-slide {
        margin-right: 30px;
        margin-bottom: 280px;
    }
    .different-slider__item .slider__item {
        width: 100%;
        top: 0 !important;
    }
    .slider__item-desc {
        position: absolute;
        padding: 0;
        top: 100%;
    }
    .slider__item-desc-title {
        font-size: 1em;
    }
    .slider__item-desc-content {
        max-height: 150px;
        line-height: 1.5;
    }
    .horizontal {
        width: 253px;
        height: 186px;
    }
    .vertical {
        width: 235px;
        height: 380px;
    }
    .quad {
        width: 250px;
        height: 250px;
    }
    .vertical .slider__item-desc {
        padding: 0;
    }
    .horizontal .slider__item-desc {
        padding: 0;
    }
}
.popup-product-card .horizontal {
    width: 328px;
    height: 344px;
}
.popup-product-card .vertical {
    width: 235px;
    height: 576px;
}
.popup-product-card .quad {
    width: 286px;
    height: 400px;
}
.popup-product-card .different-slider__item {
    margin-bottom: 0;
}