.stocks__slider {
    top: 0;
    margin: 0;
    margin-left: 350px;
    display: flex;
    list-style: none;
    padding: 35px 0 90px;
}

.stocks__slide-item {
    position: relative;
    padding: 120px 0 65px;
    height: 350px;
    width: 510px;
}

.page-about .stocks__slide-item {
    width: 410px;
    height: 640px;
}

.page-about .stocks__slide {
    width: 440px;
    min-height: 650px;
}

.stocks__slide {
    position: absolute;
    top: 100px;
    width: 580px;
    min-height: 430px;
    display: flex;
    align-items: flex-end;
    max-height:455px;
    background-size: cover;
    transition: 300ms;
    cursor: pointer;
    background-position: 50% 50%;
}

.stocks__slide__img img {
    max-width: 750px;
}

.stocks__slide.stocks-slider__item-active {
    left: 0;
    top: 0;
    padding: 0;
    z-index: 10 !important;
    cursor: auto;
}

.stocks__slide-item .stocks__slide.stocks-slider__item-active:before {
    background: rgb(17,17,17);
    background: linear-gradient(180deg, rgba(17,17,17,0) 0%, rgba(17,17,17,0.3) 85%, rgba(0,0,0,.8) 100%);
}

.stocks__slide-item .stocks__slide:before {
    content: '';
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    background: rgb(17,17,17);
    background: linear-gradient(180deg, rgba(17,17,17,0.32) 0%, rgba(17,17,17,1) 100%);
}

.stocks-slider__nav {
    position: relative;
    display: flex;
    border-top:1px solid #775C4B;
}
.stocks-slider__nav-list {
    width: 100%;
    margin-left: -20px;
}
.stocks-slider__nav-list ul {
    position: relative;
    display: flex;
    justify-content: space-between;
    width: calc(100% - 60px);
    align-items: flex-start;
    margin:0;
    padding: 0;
    list-style: none;
}
.stocks-slider__nav-list li {
    display: inline-block;
}
.stocks-slider__nav-list button {
    position: relative;
    font-family: 'Lazurski', sans-serif;
    font-size: 1.1em;
    background: transparent;
    line-height: 2;
    letter-spacing: 2px;
    color: #fff;
    padding: 10px 0;
    margin: 0;
    border: none;
    width: 40px;
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 300;
    cursor:pointer;
    transition: 150ms;
}
.stocks-slider__nav-list button.active-prev {
    color:#86533C;
}
.stocks-slider__nav-list button.active-prev:before {
    background: #AF6A4D;
}
.stocks-slider__nav-list .slick-active button {
    font-size: 2.2em;
    color:#AF6A4D;
}
.stocks-slider__nav-list button:before{
    content: '';
    position: absolute;
    display: block;
    width:9px;
    top:-4.5px;
    left:calc(50% - 4.5px);
    height: 9px;
    border-radius: 50%;
    background: #775C4B;
    transition: 50ms;
    box-sizing: border-box;
}
.stocks-slider__nav-list .slick-active button:before {
    width: 12px;
    top: -6px;
    left:calc(50% - 6px);
    height: 12px;
    background: #AF6A4D;
}
.stocks-slider__nav-list .slick-active button:after {
    content: '';
    position: absolute;
    display: block;
    width:18px;
    top:-9px;
    left:calc(50% - 9px);
    height: 18px;
    border: 1px solid #AF6A4D;
    border-radius: 50%;
    background: transparent;
    box-sizing: border-box;
}
.stocks-slider__nav-progress {
    position: absolute;
    top: -1.5px;
    left: 0;
    height: 3px;
    background: #AF6A4D;
}


@media screen and (min-width: 1200px) {
    .stocks__slide-item .stocks-slider__item-desc {
        display: none;
    }
    .stocks .stocks__slider {
        margin-left: 360px;
    }
    .page-about .stocks__slider {
        margin-left: 430px;
    }
    .page-about .stocks__slide {
        left: -110px;
    }
    .page-about .stocks-slider__item-active {
        left: 0;
    }
    .stocks__slide {
        left: -200px;
        width: 580px;
    }
    .page-about .stocks__slide-item {
        width: 340px;
        height: 550px;
    }
}

@media screen and (min-width: 1920px) {
    .stocks__slide-item {
        width: 630px;
    }
    .stocks__slide {
        width: 580px;
    }
    .page-about .stocks__slide-item {
        width: 410px;
        height: 640px;
    }
    .stocks .stocks__slider {
        margin-left: 500px;
    }
}

@media screen and (max-width: 1199px) {
    .stocks__slider .next,
    .stocks__slider .prev {
        display: none;
    }
    .stocks__slider {
        margin-left: 0;
        padding: 0;
    }
    .stocks__slide-item {
        width: 300px;
        margin-right: 30px;
        padding-bottom: 200px;
        height: 220px;
    }
    .stocks__slider-wrapper .stocks__slide-item {
        padding-bottom: 125px;
    }
    .stocks__slide {
        display: block;
        width: 300px;
        top: 0;
        height: 220px;
        background-size: contain;
        background-repeat: no-repeat;
    }
    .stocks__slider-wrapper .stocks__slide-item .stocks__slide.stocks-slider__item-active:before {
        background: none;
    }
    .stocks__slider-wrapper .stocks__slide {
        width: 300px;
        top: 0;
        height: 200px;
        min-height: 200px;
        background-size: 300px auto;
        background-position: 50% 50%;
        background-repeat: no-repeat;
    }
    .stocks-slider__item-desc {
        position: relative;
        margin-top: 200px;
    }
    .stocks__slider-wrapper .stocks-slider__item-desc {
        margin-top: 225px;
    }
    .stocks-slider__nav {
        display: none;
    }
    .page-about .stocks__slide-item {
        height: 450px;
        width: 300px;
    }
    .page-about .stocks-slider__item-desc {
        margin-top: 462px;
    }
    .page-about .stocks__slide {
        width: 300px;
        min-height: 445px;
    }
}

@media screen and (max-width: 767px) {
    .stocks__slide-item {
        width: 250px;
        margin-right: 30px;
        padding-bottom: 90px;
        height: 200px;
    }
    .stocks__slide {
        display: block;
        width: 250px;
        top: 0;
        height: 180px;
        min-height: 186px;
        background-size: 250px auto;
        background-position: 50% 50%;
        background-repeat: no-repeat;
    }
    .stocks__slider-wrapper .stocks__slide-item {
        width: 250px;
        margin-right: 30px;
        padding-bottom: 90px;
        height: 200px;
    }
    .stocks__slider-wrapper .stocks__slide {
        display: block;
        width: 250px;
        top: 0;
        height: 180px;
        min-height: 186px;
        background-size: 250px auto;
        background-position: 50% 50%;
        background-repeat: no-repeat;
    }

    .stocks__slide-item .stocks__slide.stocks-slider__item-active:before {
        background: none;
    }
    .page-about .stocks__slide-item {
        height: 380px;
        width: 250px;
        padding-bottom: 60px;
    }
    .page-about .stocks-slider__item-desc {
        margin-top: 392px;
    }
    .stocks-slider__item-desc {
        margin-top: 200px;
    }
    .page-about .stocks__slide {
        width: 250px;
        min-height: 380px;
    }
    .page-about .collections {
        padding-bottom: 0;
    }
    .stocks-slider__description {
        max-height: 78px;
        overflow: auto;
    }
}
