.advantages__list {
    margin-left: -20px;
    margin-right: -20px;
}
.advantages-list__item {
    padding:0 20px;
}
.advantages__button-next {
    cursor: pointer;
}
.advantages {
    user-select: none;
}