@media screen and (min-width: 320px) and (max-width: 767px) {
    .page-for-buyer__work-process {
        padding-bottom: 0;
    }
    .page-for-buyer .page-for-buyer__section-faq {
        padding-top: 40px;
        padding-bottom: 45px;
    }
}
@media screen and (min-width: 1200px) {
    .page-for-buyer .page-for-buyer__work-process {
        padding-bottom: 100px;
    }
    .page-for-buyer .section-faq {
        padding-top: 185px;
    }
}
