.page-collection {

}

.page-collection__top-wrapper {
  // background-image: linear-gradient(145.85deg, #220F06 27.07%, #0D0704 87.12%);
  z-index: -1;
}


.page-collection__information {
  & * {
    z-index: 1;
  }
  
  &::before {
    // background-image: linear-gradient(117.32deg, #1B0C05 28.03%, #0D0704 87.29%);
    // background-color: #fff;
    background-color: transparent;
    z-index: 0;
  }
}

.page-collection__products {
  padding-bottom: 8%;
}