.page-news__other {
  padding-bottom: 90px;
}

@media screen and (min-width: 768px) {
  .page-news__other {
    padding-bottom: 80px;
  }
}

@media screen and (min-width: 1366px) {
  .page-news__other {
    padding-bottom: 220px;
  }
}

@media screen and (min-width: 1366px) {
  .page-news__other {
    padding-bottom: 155px;
  }
}