.page-about__about-company {
  margin-bottom: 50px;
}

.page-about__partners {
  padding-top: 50px;
  padding-bottom: 95px;
}

.page-about__certificates {
  padding-top: 50px;
  padding-bottom: 50px;
}

@media screen and (min-width: 768px) {


  .page-about__partners {
    padding-top: 155px;
    padding-bottom: 150px;
  }

  .page-about__certificates {
    padding-top: 80px;
    padding-bottom: 50px;
  }
}

@media screen and (min-width: 1366px) {
  .page-about__about-company {
    margin-bottom: 115px;
  }

  .page-about__partners {
    padding-top: 180px;
    padding-bottom: 200px;
  }

  .page-about__certificates {
    padding-top: 120px;
    padding-bottom: 150px;
  }
}

@media screen and (min-width: 1920px) {
  .page-about__certificates {
    padding-top: 145px;
    padding-bottom: 150px;
  }
}