.collection-block {
    display: flex;
}

.collection-block__left {
    width: 40%;
    padding-right: 15px;
}

.collection-block__right {
    display: flex;
    width: 60%;
    padding-left: 100px;
}

.collection-information__slider-wrapper {
    display: flex;
    flex-direction: column;
    max-width: 100%;
}
.collection-block .different-slider__item {
    z-index: auto;
}

.collection-products__head .collections__button-transition {
    top: 15px;
    right: 0;
}

.collection-products__head {
    display: flex;
    width: 100%;
    position: relative;
}

.collection-block {
    flex-direction: column;
}
.collection-block__right {
    width: auto;
    padding-left: 0;
}
.collection-block__left {
    width: auto;
}

@media screen and (min-width: 1920px) {
    .collection-block {
        flex-direction: column;
        position: relative;
        min-height: 800px;
    }
    .collection-block__right {
        position: absolute;
        right: -120px;
        top: -40px;
        width: 60%;
        padding-left: 100px;
    }
    .collection-block__left {
        width: 40%;
    }
}

