.collection-information__title {
    grid-area: title;
}
.collection-block__right {
    grid-area: slider;
}
.collection-block__left {
    grid-area: desc;
}
.collection-block {
    display: grid;
    grid-template-columns: 100% 0;
    grid-template-rows: max-content max-content min-content;
    grid-template-areas:
            "title ."
            "slider slider"
            "desc .";
}
.collection-block__left {
    width: 40%;
    padding-right: 15px;
}

.collection-block__right {
    display: flex;
    padding-left: 100px;
    width: 80vw;
}

.collection-information__slider-wrapper {
    display: flex;
    flex-direction: column;
    max-width: 100%;
}
.collection-block .different-slider__item {
    z-index: auto;
}

.collection-products__head {
    display: flex;
    width: 100%;
    position: relative;
}
.collection-block__right {
    width: auto;
    padding-left: 0;
}
.collection-block__left {
    width: auto;
}

@media screen and (max-width: 767px) {
    .collection-block__right .different-slider__list {
        padding: 0;
    }
}

@media screen and (min-width: 1920px) {
    .collection-block {
        grid-template-columns: 742px auto;
        grid-template-areas:
                "title slider"
                "desc slider"
                "desc slider";
    }
    .collection-block__right {
        width: 868px;
    }
    .collection-block__left {
    }
}

/*
@media screen and (min-width: 1920px) {
    .collection-block {
    }
    .collection-block__right {
        position: absolute;
        right: -120px;
        top: -40px;
        width: 60%;
        padding-left: 100px;
    }
    .collection-block__left {
        width: 40%;
    }
}
*/

