.about-company {
  @include section-position;
}

.about-company__title {
  margin-bottom: 30px;
}

.about-company__description {
  margin-bottom: 30px;
}

.about-company__video {
  position: relative;
  padding-top: 45%;
  border: 1px solid #E08B66;

  img,
  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

// .about-company__video::after {
//   content: "";
//   position: absolute;
//   top: 0;
//   left: 0;
//   width: 100%;
//   height: 100%;
//   background-color: rgba(0,0,0,.5);
// }

@media screen and (min-width: 768px) {
  .about-company__title {
    margin-bottom: 40px;
  }

  .about-company__description {
    margin-bottom: 45px;
    width: 585px;
  }
}

@media screen and (min-width: 1366px) {
  .about-company__description {
    margin-bottom: 50px;
  }
}

@media screen and (min-width: 1920px) {
  .about-company__video {
    margin: 0 auto;
    width: 1180px;
    overflow: hidden;
  }
}