.all-collections-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  overflow: hidden;
}

.all-collections-item {
  position: relative;
  margin-bottom: -2px;
  padding-top: 4%;
  padding-bottom: 4%;
  background-image: linear-gradient(119.77deg, #220F06 15.72%, #0D0704 110.67%);
  transform: skewY(4deg);
  overflow: hidden;
}

.all-collections-item:nth-child(1) {
  margin-top: -4%;
  background-image: none;
}

.all-collections-item__inner {
  position: relative;
  display: flex;
  flex-direction: column-reverse;
  padding-bottom: 60px;
  transform: skewY(-4deg);
}

.all-collections-item__image-wrapper {
  display: flex;
  align-items: center;
  margin-top: -5%;
  margin-bottom: 47px;
  height: 400px;
  transform: skewY(4deg);
  overflow: hidden;
  z-index: -1;
}

.all-collections-item__image {
  width: 100%;
  height: 108%;
  object-fit: contain;
  transform: skewY(-4deg);
}

.all-collections-item__title {
  position: absolute;
  top: 0;
  transform: translateY(calc(-100% - 20px));
  margin: 0;
  display: flex;
  flex-direction: column;
  font-family: "Lazurski";
  font-size: 26px;
  font-weight: normal;
  line-height: 32px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #FFFFFF;

  span {
    align-self: flex-start;
  }

  span:first-child {
    transform: translateX(5%);
  }
}

.all-collections-item__title-bigger {
  font-size: 36px;
  line-height: 48px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #E08B66;
}


.all-collections-item__description {
  position: relative;
  align-self: flex-start;
  // padding-right: 52px;
}

.all-collections-item__p {
  margin: 12px 0;
  font-family: "Intro Light";
  font-size: 16px;
  line-height: 32px;
  color: #FFFFFF;
}

.all-collections-item__button-detail {
  margin-top: 40px;
}

@media screen and (min-width: 768px) {
  .all-collections-item__inner {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 0;
  }

  .all-collections-item:nth-child(1) .all-collections-item__image-wrapper {
    margin-top: -8%;
  }

  .all-collections-item:last-child {
    margin-bottom: -4%;
    padding-bottom: 12%;

    .all-collections-item__image-wrapper {
      // align-items: flex-end;
    }

    .all-collections-item__image {
      // margin-top: -8%;
      // height: 100%;
    }
  }

  .all-collections-item__description {
    flex-grow: 1;
    order: 1;
    padding-right: 20px;
    width: inherit;
  }

  .all-collections-item__image-wrapper {
    order: 2;
    flex-shrink: 0;
    margin-top: 10px;
    margin-bottom: 0;
    width: 302px;
    
    min-height: 555px;
    transform: skewY(4deg);
    z-index: -1;

    img {
      object-fit: cover;
    }
  }

  .all-collections-item__title {
    top: initial;
    bottom: 0;
    right: 0;
    transform: translate(20%, calc(100% + 30px));
    width: 400px;
    text-align: right;
    font-size: 36px;
    line-height: 48px;

    span:first-child {
      transform: translateX(0);
    }
  }

  .all-collections-item__title-bigger {
    transform: translateX(10%);
    width: inherit;
    font-size: 46px;
    line-height: 48px;
  }

  .all-collections-item:nth-child(n + 2) {
    .all-collections-item__description {
      margin-top: 100px;
    }    
  }
  .all-collections-item:nth-child(2n + 2) {

    .all-collections-item__image-wrapper {
      order: 1;
    }

    .all-collections-item__description {
      order: 2;
    }
  }
}

@media screen and (min-width: 1366px) {
  .all-collections-item__title {
    transform: translate(20%, calc(100% + 80px));
    width: 713px;
    font-size: 64px;
    line-height: 80px;
  }

  .all-collections-item__title-bigger {
    font-size: 100px;
    line-height: 80px;
  }

  .all-collections-item__image-wrapper {
    margin-top: -8%;
    margin-bottom: 0;
    width: 470px;
    min-height: 863px;
  }

  .all-collections-item:first-child {
    z-index: 2;
  }

  .all-collections-item:nth-child(2) {
    z-index: 1;
  }

  .all-collections-item:nth-child(2n + 2) {

    .all-collections-item__description {
      padding-top: 70px;
    }
  }
}









.all-collections--block {
  padding-top: 50px;
  background: linear-gradient(148.19deg, #220F06 27.74%, #0D0704 89.26%);
  // background: red;

  @media screen and (min-width: 1366px) {
    padding-top: 90px;
  }

  @media screen and (min-width: 1920px) {
    padding-top: 120px;
  }

  .all-collections__item:first-child {
    
  }
}


.all-collections__item {
  padding-left: 12px;
  padding-right: 12px;
  // padding-bottom: 66px;
}

.all-collections__item {
  // margin-bottom: 60px
}

.all-collections__title {
  margin-left: 12px;
  margin-right: 12px;
  margin-bottom: 30px;
}

@media screen and (min-width: 768px) {
  .all-collections__title {
    margin-left: 20px;
    margin-right: 20px;
  }

  .all-collections__item {
    padding-left: 20px;
    padding-right: 20px;
    // padding-bottom: 66px;
  }

  .all-collections-item__description {
    margin-bottom: 200px;
  }

  .all-collections__item:nth-child(2n + 2) {
    flex-direction: row-reverse;

    .all-collections-item__description {
      padding-right: 0;
      padding-left: 25px;
    }

    .all-collections-item__title {
      top: initial;
      bottom: 0;
      left: 0;
      text-align: left;
      transform: translate(-20%, calc(100% + 30px))
    }

    .all-collections-item__title-bigger {
      transform: translateX(-10%);
    }
  }
}

@media screen and (min-width: 1366px) {
  .all-collections__title {
    margin-left: 55px;
    margin-right: 70px;
    z-index: 1;
  }

  .all-collections__list {
    position: relative;
    margin-top: -140px;
    z-index: 0;
  }

  .all-collections__item {
    padding-left: 55px;
    padding-right: 70px;
    // padding-bottom: 143px;
  }

  .all-collections__item:nth-child(2n + 2) {

    .all-collections-item__description {
      margin-bottom: 300px;
      padding-left: 40px;
    }
  }

  .all-collections__item:first-child {

    & * {
      z-index: 2;
    }

    .all-collections-item__description {
      z-index: 3;
    }

    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 295px;
      width: 403px;
      height: 363px;
      background-image: url(../img/our_products_diamond_bc.png);
      background-repeat: no-repeat;
      opacity: .1;
      z-index: 1;
    }

    .all-collections-item__description {
      padding-top: 155px;
    }
  }
  
}

@media screen and (min-width: 1440px) {
  .all-collections__title {
    margin-left: 270px;
  }

  .all-collections__item {
    padding-left: 270px;
  }
}

@media screen and (min-width: 1920px) {
  .all-collections__title {
    margin-left: 310px;
    margin-right: 252px;
  }

  .all-collections__item {
    padding-left: 310px;
    padding-right: 252px;
  }

  .all-collections__item:nth-child(2n + 2) {

    .all-collections-item__description {
      padding-left: 87px;
    }
  }
}





