.catalog-our-products {
  position: relative;
  padding: 12px;
  padding-top: 0;
  padding-bottom: 55px;
  // background-image: linear-gradient(117.15deg, #220F06 27.07%, #0D0704 87.12%);
}

.catalog-our-products__list {
  margin: 0;
  margin-top: 40px;
  padding: 0;
  list-style-type: none;
}

@media screen and (min-width: 768px) {
  .catalog-our-products {
    padding-left: 20px;
    padding-bottom: 180px;
  }
  
  .catalog-our-products__list {
    
  }
  .catalog-our-products::after {
    content: "";
    display: block;
    width: 100%;
    height: 0;
  }
}

@media screen and (min-width: 1366px) {
  .catalog-our-products {
    padding-left: 55px;
    padding-right: 50px;
    padding-bottom: 180px;
  }

  .catalog-our-products__list {
    margin-top: 85px;
  }
}

@media screen and (min-width: 1440px) {
  .catalog-our-products {
    padding-left: 270px;
  }
}

@media screen and (min-width: 1920px) {
  .catalog-our-products  {
    padding-bottom: 275px;
    padding-left: 310px;

    &::before {
      content: "";
      position: absolute;
      top: 50px;
      right: -150px;
      width: 404px;
      height: 363px;
      transform: scaleX(-1) rotate(-10deg);
      background-image: url(../img/our_products_diamond_bc.png);
      background-repeat: no-repeat;
      opacity: .2;
    }
  }

  .catalog-our-products__list {
    margin-top: 100px;
  }

}












.catalog-our-products__list {
  display: grid;
  grid-gap: 30px;
}

.product-card__description,
.product-card__button-detail {
  display: none;
}

@media screen and (min-width: 768px) {
  .catalog-our-products__list {
    grid-template-columns: repeat(2, 1fr);
  }

  .catalog-our-products-list__item:nth-child(n) {
    flex-direction: column;

    .product-card__title {
      border-top: 1px solid rgba(255, 255, 255, 0.26);
    }

    .product-card__description {
      max-height: 225px;
      overflow: hidden;
    }
    
    .product-card__description,
    .product-card__button-detail {
      display: none;
    }
  }

  .catalog-our-products-list__item:nth-child(9n + 1) {
    grid-row-end: span 2;
  }

  .catalog-our-products-list__item:nth-child(9n + 4) {
    grid-column-end: span 2;

    flex-direction: row;

    .product-card__title {
      border: none;
    }
    .product-card__image-wrapper {
      margin-right: 30px;
    }
  }

  .catalog-our-products-list__item:nth-child(9n + 7) {
    grid-column-end: span 2;

    flex-direction: row;

    .product-card__title {
      border: none;
    }
    .product-card__image-wrapper {
      margin-right: 30px;
    }
  }

  .catalog-our-products-list__item:nth-child(9n + 1),
  .catalog-our-products-list__item:nth-child(9n + 4),
  .catalog-our-products-list__item:nth-child(9n + 7) {
    .product-card__description,
    .product-card__button-detail {
      display: block;
    }
  }
}

@media screen and (min-width: 1366px) {
  .catalog-our-products__list {
    grid-template-columns: repeat(3, 1fr);
  }

  .catalog-our-products-list__item:nth-child(n) {
    grid-column-end: unset;
    grid-row-end: unset;

    flex-direction: column;

    .product-card__title {
      border-top: 1px solid rgba(255, 255, 255, 0.26);
    }
  }

  .catalog-our-products-list__item:nth-child(9n + 1) {
    grid-row-end: span 2;
  }

  .catalog-our-products-list__item:nth-child(9n + 6) {
    grid-column-end: span 2;

    flex-direction: row;

    .product-card__title {
      border: none;
    }
    .product-card__image-wrapper {
      margin-right: 30px;
    }
  }

  .catalog-our-products-list__item:nth-child(9n + 8) {
    grid-column-end: span 2;

    flex-direction: row;

    .product-card__title {
      border: none;
    }
    .product-card__image-wrapper {
      margin-right: 30px;
    }
  }

  .catalog-our-products-list__item:nth-child(n) {
    .product-card__description,
    .product-card__button-detail {
      display: none;
    }
  }

  .catalog-our-products-list__item:nth-child(9n + 1),
  .catalog-our-products-list__item:nth-child(9n + 6),
  .catalog-our-products-list__item:nth-child(9n + 8) {
    .product-card__description,
    .product-card__button-detail {
      display: block;
    }
  }
}

@media screen and (min-width: 1920px) {
  .catalog-our-products__list {
    grid-template-columns: repeat(4, 1fr);
  }

  .catalog-our-products-list__item:nth-child(n) {
    grid-column-end: unset;
    grid-row-end: unset;

    flex-direction: column;

    .product-card__title {
      border-top: 1px solid rgba(255, 255, 255, 0.26);
    }
  }

  .catalog-our-products-list__item:nth-child(9n + 1) {
    grid-row-end: span 2;
  }

  .catalog-our-products-list__item:nth-child(9n + 3) {
    grid-column-end: span 2;
    
    flex-direction: row;

    .product-card__title {
      border: none;
    }
    .product-card__image-wrapper {
      margin-right: 30px;
    }
  }

  .catalog-our-products-list__item:nth-child(9n + 8) {
    grid-column-end: span 2;

    flex-direction: row;

    .product-card__title {
      border: none;
    }
    .product-card__image-wrapper {
      margin-right: 30px;
    }
  }

  .catalog-our-products-list__item:nth-child(n) {
    .product-card__description,
    .product-card__button-detail {
      display: none;
    }
  }

  .catalog-our-products-list__item:nth-child(9n + 1),
  .catalog-our-products-list__item:nth-child(9n + 3),
  .catalog-our-products-list__item:nth-child(9n + 8) {
    .product-card__description,
    .product-card__button-detail {
      display: block;
    }
  }
}

