.collections {
  padding-left: 12px;
  padding-top: 105px;
  padding-bottom: 50px;
  background: linear-gradient(#0F0805, #110A07);
}

.collections__slider {
  margin-top: 45px;
}

.collections__button-transition {
  margin-top: 40px;
}

@media screen and (min-width: 768px) {
  .collections {
    position: relative;
    padding-bottom: 105px;
    padding-left: 20px;
  }

  .collections__button-transition {
    position: absolute;
    top: 120px;
    right: 20px;
    margin: 0;
  }
}

@media screen and (min-width: 1366px) {
  .collections {
    padding-top: 225px;
    padding-bottom: 100px;
    padding-left: 55px;
  }

  .collections__button-transition {
    top: 240px;
    right: 40px;
  }

  .collections .collections__slider-options {
    width: 100%;
    max-width: 100vw;
  }
}

@media screen and (min-width: 1440px) {
  .collections {
    padding-left: 270px;
    background: url(../img/background_diamond.png) no-repeat -457px 200px,
                linear-gradient(#0F0805, #110A07);
  }

  .collections__slider-wrapper {
    width: 1428px !important;
  }
}

@media screen and (min-width: 1920px) {
  .collections {
    padding-top: 227px;
    padding-bottom: 100px;
    padding-left: 310px;
  }
}