.collection-information {
  @include section-position;

  display: flex;
  flex-direction: column;
  padding-bottom: 47px;
}

.collection-information__title {
  margin-bottom: 40px;
}

.collection-information__slider-wrapper {
  margin-bottom: 20px;
}

.collection-information__description {
  order: 1;
}

.collection-information__slider-wrapper {
}

.collection-information__slider {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.collection-information__slider-image {
  width: 100%;
}

.collection-information__p {
  margin: 10px 0;
  font-family: "Intro Light";
  font-size: 16px;
  line-height: 26px;
  color: #FFFFFF;
}

@media screen and (min-width: 768px) {
  .collection-information {
    padding-bottom: 123px;
  }
  .collection-information__title {
    margin-bottom: 40px;
  }

  .collection-information__slider-wrapper {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1366px) {
  .collection-information {
    padding-bottom: 142px;
  }
  .collection-information__title {
    margin-bottom: 82px;
  }

  .collection-information__slider-wrapper {
    margin-bottom: 70px;
  }
}

@media screen and (min-width: 1920px) {
  .collection-information {
    position: relative;
    flex-direction: row-reverse;
    justify-content: space-between;

    display: grid;
    grid-template-columns: 1fr 860px;
    grid-template-rows: max-content;
    column-gap: 160px;
    padding-bottom: 100px;
  }

  .collection-information__slider-wrapper {
    order: 2;
    grid-row-end: span 2;
  }

  .page-collection__information {
    &::after,
    &::before {
      order: 5;
    }
  }

  .collection-information__title {
    // position: absolute;
    // left: 310px;
    order: 1;
    margin-bottom: 50px;
    width: 590px;
  }

  .collection-information__description {
    // padding-top: 220px;
    order: 3;
    width: 585px;
  }

  .collection-information__slider-wrapper {
    margin-right: -120px;
    margin-bottom: 70px;
    width: 860px;
    width: initial !important;
  }
}


.collection-information__slider-wrapper {
  .jumping-slider__item.tns-slide-active:nth-child(n) {
    margin-top: 20px;
  }
  
  .jumping-slider__item.tns-slide-active:nth-child(2n) {
    margin-top: 140px;
  }
}