.contacts {
  @include section-position;
}

.contacts__title {
  margin-bottom: 40px;
}

.contacts-inormation {
  margin: 0;
  padding: 0;
  width: 100%;
  list-style-type: none;
}

.contacts-inormation__item {
  margin-bottom: 30px;
}

.contacts-inormation__item-requisites {
  margin-left: 40px;
}

.map-wrapper {
  position: relative;
  padding-top: 60%;
}

#map {
  position: absolute;
  top: 0;
  left: 0;
  width: 100% !important;
  height: 100% !important;
  -ms-filter: grayscale(1);
	-webkit-filter: grayscale(1);
	-moz-filter: grayscale(1);
  -o-filter: grayscale(1);
	filter: grayscale(1);
}

.contacts__tabs {
  width: 100%;
}

@media screen and (min-width: 768px) {
  .contacts__title {
    margin-bottom: 60px;
  }

  .contacts-inormation__item-requisites {
    margin-bottom: 80px;
  }

  .map-wrapper {
    padding-top: 565px;
  }
}

@media screen and (min-width: 1366px) {
  .contacts__title {
    margin-bottom: 40px;
  }
}

@media screen and (min-width: 1920px) {
  .contacts {
    position: relative;

    &:before {
      content: "";
      position: absolute;
      top: 450px;
      left: 295px;
      width: 403px;
      height: 363px;
      background-image: url(../img/our_products_diamond_bc.png);
      background-repeat: no-repeat;
      opacity: .1;
      z-index: -1;
    }
  }

  .map-wrapper {
    position: absolute;
    top: 0;
    right: 75px;
  }

  .contacts__tabs {
    max-width: 600px;
  }

  .contacts__tabs ~ .tabs__content {
    margin-left: -40px;
  }

  .map-wrapper {
    width: 890px;
    padding-top: 565px;
  }

  .contacts__tabs .tabs__item,
  .contacts__tabs .tabs__item-content {
    width: initial;
  }
}