.our-products__inner{
  position: relative;
  padding: 12px;
  padding-top: 70px;
  padding-bottom: 30px;
}

.our-products__button-group {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 40px;
  width: 100%;
}

.our-products__button-next {
  display: none;
}


.our-products__description {
  margin: 0;
  margin-top: 45px;
  color: #FFFFFF;
  width: 100%;
  font-size: 16px;
  line-height: 26px;
  font-family: "Intro Light";
}
  
.our-products__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.product-card-list {
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: minmax(1fr, max-content) minmax(1fr, max-content);
  grid-template-rows: 1fr 1fr;
  grid-auto-flow: column;
  row-gap: 15px;
  height: 257px;
  list-style-type: none;
}

.product-card--view-1 {
  grid-row-end: span 2;
  // background-color: red !important;
}

@media screen and (min-width: 768px) {
  .product-card-list {
    row-gap: 30px;
  }
}

@media screen and (min-width: 768px) {
  .our-products__inner{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 20px;
    padding-top: 40px;
    padding-bottom: 50px;
  }

  .our-products__title {
    order: 1;
  }

  .our-products__description {
    order: 2;
    margin-top: 65px;
    width: 716px;
  }

  .our-products__button-group {
    order: 3;
    margin-top: 30px;
  }

  .our-products__list-wrapper {
    order: 4;
    margin-top: 50px;
  }

  .product-card-list {
    height: 597px;
  }
}

@media screen and (min-width: 1366px) {
  .our-products__inner{
    padding-left: 55px;
    padding-right: 50px;
    padding-top: 90px;
    padding-bottom: 105px;
  }

  .product-card-list {
    // height: 675px;
  }

  .our-products .product-card.product-card--view-1 .product-card__image-wrapper {
    height: 200px;
  }

  .our-products__button-next {
    display: block;
  }
}

@media screen and (min-width: 1440px) {
  .our-products__inner {
    padding-left: 270px;
  }

  .product-card-list {
    height: 675px;
  }
}

@media screen and (min-width: 1920px) {
  .our-products__inner {
    position: relative;
    padding-top: 45px;
    padding-bottom: 470px;
    padding-left: 310px;

    background-image: url(../img/our_products_diamond_bc.png);
    background-repeat: no-repeat;
    background-position: bottom 60px left 310px;
  }

  .our-products__description {
    width: 415px;
  }

  .product-card-list {
    height: 675px;
  }

  .our-products__button-next {
    position: absolute;
    top: 70px;
    right: 145px;
    z-index: 100;
  }

  .our-products__list-wrapper {
    position: absolute;
    top: 105px;
    margin-left: 500px;
    width: 1110px;
  }

  .our-products .product-card.product-card--view-1  .product-card__image-wrapper {
    height: 230px;
  }
}










.our-products {
  .product-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 10px;
    padding: 20px 15px;
    box-sizing: border-box;
    background-color: rgba(175, 175, 175, 0.09);
    transition: border 300ms;
    border: 1px solid transparent;


    &:hover {
      border-color: #E08B66;
    }

    @media screen and (min-width:768px) {
      margin-right: 30px;
    }
  }

  .product-card__link {
    text-decoration: none;
  }

  .product-card__image-wrapper {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    overflow: hidden;
  }

  .product-card__image {
    // width: 100%;
    height: 100%;
  }

  .product-card__title {
    margin: 0px;
    margin-top: 10px;
    padding-top: 10px;
    color: #FFFFFF;
    font-size: 16px;
    line-height: 120%;
    font-family: "Lazurski Bold";
    font-weight: normal;
    letter-spacing: 2px;
    border-top: 1px solid rgba(255, 255, 255, 0.26);

    @media screen and (min-width: 768px) {
      margin-top: 40px;
      padding-top: 15px;
      font-size: 18px;
      line-height: 22px;
    }

    @media screen and (min-width: 1440px) {
      margin-top: 50px;
      padding-top: 20px;
      font-size: 24px;
      line-height: 29px;
    }

    @media screen and (min-width: 1920px) {
      padding-top: 30px;
    }
  }

  .product-card__description {
    display: none;

    @media screen and (min-width: 768px) {
      display: block;
      color: #FFFFFF;
      font-family: "Intro Light";
      font-size: 16px;
      line-height: 32px;
    }
  }

  .product-card__button-detail {
    display: none;

    @media screen and (min-width: 768px) {
      display: block;
    }
  }

  .product-card {
    width: 124px;
    height: 124px;

    .product-card__image-wrapper {
      height: 54px;
    }

    @media screen and (min-width: 768px) {
      padding: 30px 35px;
      width: 309px;
      height: 285px;

      .product-card__image-wrapper {
        height: 126px;
      }
    }

    @media screen and (min-width: 1366px) {
      width: calc((100% - 30px * 2) / 2);
    }

    @media screen and (min-width: 1440px) {
      padding: 35px 40px;
      width: 350px;
      height: 322px;

      .product-card__image-wrapper {
        height: 142px;
      }
    }
  }

  .product-card--view-1 {
    padding: 52px 20px;
    width: 122px;
    height: 100%;

    @media screen and (min-width: 768px) {
      padding: 46px;
      width: 309px;
    }

    @media screen and (min-width: 1366px) {
      width: calc((100% - 30px * 2) / 2);
    }

    @media screen and (min-width: 1440px) {
      padding: 47px 52px;
      width: 350px;
    }
  }
}