.partners {
  @include section-position;
}

.partners__title {
  margin-bottom: 20px;
}

.partners__description {
  margin-bottom: 60px;
}

.partners__list {
  overflow: hidden;
  margin-right: -15px;
}

@media screen and (min-width: 768px) {
  .partners__title {
    margin-bottom: 30px;
  }

  .partners__description {
    margin-bottom: 60px;
  }

  .partners__list {
    margin-right: -20px;
  }
}

@media screen and (min-width: 1366px) {
  .partners__list {
    display: flex;
    margin-right: -90px;
  }

  .partners__title {
    margin-bottom: 55px;
  }

  .partners__description {
    margin-bottom: 70px;
  }
}

@media screen and (min-width: 1920px) {
  .partners {
    position: relative;

    &::before {
      content: "";
      position: absolute;
      top: -50px;
      right: -120px;
      width: 403px;
      height: 363px;
      background-image: url(../img/our_products_diamond_bc.png);
      background-repeat: no-repeat;
      opacity: .1;
      transform: scaleX(-1) rotate(-20deg);
    }
  }

  .partners__list {
    margin-right: -120px;
  }

  .partners__title {
    margin-bottom: 55px;
  }

  .partners__description {
    margin-bottom: 70px;
  }
}