.popup-search {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 900;
  overflow: hidden;
  overflow-y: auto;
  transition: opacity 400ms;
  z-index: 1000;
}

.popup-search--hidden {
  visibility: hidden;
  opacity: 0;
}
  
.popup-search__inner {
  position: relative;
  padding: 14px;
  padding-top: 90px;
  padding-bottom: 200px;
  min-height: 100vh;
  background-color: #1C100A;
  background: linear-gradient(#1C100A, #21130C);
}

  
.main-search {
  position: relative;
  margin-bottom: 60px; 
  width: 100%;
  box-sizing: border-box;
}

.main-search__input {
  padding-bottom: 15px;
  width: 100%;
  box-sizing: border-box;
  color: #fff;
  font-family: "Intro Light";
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 3px;
  background-color: transparent;
  border: none;
  outline: none;
}

.main-search__input::placeholder {
  color: #fff;
}

.main-search::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: rgba(255,255,255,.5);
}

.main-search::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background-color: #E08B66;
  transition: width 300ms;
}

.main-search--focus::after  {
  width: 100%;
}

.main-search__button {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  padding: 0;
  padding-bottom: 15px;
  background-color: transparent;
  border: none;
}

.main-search__button:hover {
  cursor: pointer;
}

.main-search__button:focus {
  outline: none;
}



.main-search-result {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.main-search-result__item {
  position: relative;
  min-width: 310px;
}

.main-search-result__item--title {
  margin-top: 40px;
  margin-bottom: 20px;
}

.main-search-result__item--title::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 310px;
  height: 2px;
  background-color: rgba(255,255,255,.5);
}

.main-search-result__item--title::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background-color: #E08B66;
  transition: width 600ms;
}

.main-search-result__item--title:hover::after {
  width: 310px;
}

.main-search-result__item--title > .main-search-result__link {
  padding-bottom: 10px; 
}

.main-search-result__link {
  display: block;
  padding: 10px 0;
  font-family: "Intro Light";
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 3px;
  text-transform: uppercase;
  text-decoration: none;
  color: #FFFFFF;
  transition: color 300ms;
}

.main-search-result__link:hover,
.main-search-result__link:focus {
  color: #E08B66;
}

.main-search-result__all-result {
  margin-top: 40px;
  padding-top: 30px;
  color: #E08B66;

  &:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 345px;
    height: 2px;
    background-color: rgba(224, 139, 102, 0.5);
  }
}

.main-search-result__all-result:hover .main-search-result__all-result-image,
.main-search-result__all-result:focus .main-search-result__all-result-image {
  margin-left: 25px;
}

.main-search-result__all-result-image {
  margin-left: 5px;
  transition: margin 300ms;
}

.popup-search__logo {
  position: absolute;
  bottom: 85px;
  width: 100%;
  box-sizing: border-box;
  text-align: center;
}

.popup-search__close {
  position: absolute;
  top: 2px;
  right: 2px;
  padding: 10px;
  background-color: transparent;
  border: none;
  transition: transform 300ms;
}

@media screen and (min-width: 768px) {
  .popup-search__inner {
    padding-left: 85px;
    padding-right: 20px;
    padding-top: 60px;
    padding-bottom: 185px;
  }

  .popup-main-menu__right {
    display: flex;
    flex-wrap: wrap;
  }

  .main-search-result__link {
    font-size: 18px;
    line-height: 27px;
    letter-spacing: 3px;
  }

  .popup-search__close {
    top: 60px;
    left: 10px;
    right: auto;
  }

  .popup-search__logo {
    width: auto;
  }
}
  
@media screen and (min-width: 1440px) {
  .popup-search__inner {
    display: flex;
    padding: 0;
  }

  .popup-search__left {
    flex-shrink: 0;
    padding-top: 70px;
    padding-left: 47px;
    width: 215px;
    box-sizing: border-box;
    border-right: 2px solid rgba(215, 130, 93, 0.2);
  }

  .popup-search__logo {
    position: static;
  }

  .popup-search__right {
    flex-grow: 1;
    padding-top: 80px;
    padding-left: 90px;
    padding-right: 225px;
    padding-bottom: 105px;
  }

  .popup-search__item--title {
    margin-top: 80px;
  }

  .popup-search__close {
    top: 77px;
    left: auto;
    right: 40px;
  }
}
  
@media screen and (min-width: 1920px) {
  .popup-search__right {
    padding-right: 320px;
  }

  .popup-search__close {
    right: 150px;
  }
}






.result-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  font-family: "Intro Light";
  font-size: 18px;
  line-height: 150%;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: #FFFFFF;
}

.result-list + .result-list {
  margin-bottom: 30px;
}

.result-list li {
  margin-top: 10px;
  margin-bottom: 10px;
}

.result-list li a {
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  transition: color 300ms;
}

.result-list li a:hover {
  color: #E08B66;
}

.result-list li a b {
  font-weight: normal;
}