// .popup-request-call {
// }

.popup-request-call--hidden {
  visibility: hidden;
  opacity: 0;
}

.popup-request-call__inner {
  position: relative;
  margin: 0 auto;
  padding: 50px 22px 50px 12px;
  background: #160A04;
  border: 2px solid rgba(224, 139, 102, 0.3);
}

.popup-request-call__title {
  width: 182px;
}

.popup-request-call__lable {
  font-family: "Intro Light";
  font-size: 14px;
  line-height: 21px;
  color: #FFFFFF;
}

.popup-request-call__fieldset {
  padding: 0;
  border: none;
}

.popup-request-call__phone {
  margin-top: 40px;
}

.popup-request-call__email {
  margin-top: 40px;
}

.popup-request-call__input-submit-wrapper {
  margin-top: 30px;
}

.popup-request-call__fieldset--last {
  text-align: center;
}

.popup-request-call__lable-consent {
  position: relative;
  display: block;
  margin-top: 40px;
  padding-left: 35px;
  width: 280px;
  box-sizing: border-box;
  text-align: left;
}

.popup-request-call__close {
  position: absolute;
  padding: 10px;
  background-color: transparent;
  border: none;
  top: 30px;
  right: 30px;
  transition: transform 300ms;
  cursor: pointer;


  &:hover {
    transform: rotate(90deg);
    cursor: pointer;
  }
}


@media screen and (min-width: 768px) {
  .popup-request-call {
    padding-top: 137px;
    // padding-left: 25px;
    // padding-right: 25px;
  }

  .popup-request-call__inner {
    padding: 65px 65px 90px 50px;
    width: 722px;
    box-sizing: border-box;
  }

  .popup-request-call__title {
    width: auto;
  }

  .popup-request-call__form {
    margin-top: 10px;
    padding-right: 35px;
  }

  .popup-request-call__lable-consent,
  .popup-request-call__input-submit-wrapper {
    margin: 0;
  }

  .popup-request-call__fieldset--last-inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
  }

  .popup-request-call__close {
    top: 65px;
    right: 65px;
  }
}

@media screen and (min-width: 1920px) {
  .popup-request-call__inner {
    padding: 90px 150px 95px 150px;
    width: 1034px;
  }

  .popup-request-call__form {
    margin-top: 20px;
    padding: 0;
  }

  .popup-request-call__fieldset input[type=text] {
    margin-top: 50px;
  }
}