.popup-main-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 100;
  overflow: hidden;
  overflow-y: auto;
  transition: opacity 400ms;
  z-index: 1000;
}

.popup-main-menu--hidden {
  visibility: hidden;
  opacity: 0;
}

.popup-main-menu__inner {
  position: relative;
  padding: 14px;
  padding-top: 30px;
  padding-bottom: 200px;
  min-height: 100vh;
  background-color: #1C100A;
  background: linear-gradient(#1C100A, #21130C);
}

.popup-menu {
  margin: 0;
  padding: 0;
  list-style: none;
}

.popup-menu {
  padding-right: 45px;
}

.popup-menu__item {
  margin-bottom: 20px;
}

.popup-menu__item--title {
  position: relative;
  padding-bottom: 10px;
  margin-top: 40px;
  margin-bottom: 40px;
}

.popup-menu__item--title::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  display: block;
  width: 100%;
  height: 2px;
  background-color: rgba(255,255,255,.5);
}

.popup-menu__item--title::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  display: block;
  width: 0;
  height: 2px;
  background-color: #E08B66;
  transition: width 600ms;
}

.popup-menu__link {
  font-family: "Intro Light";
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: #FFFFFF;
  text-decoration: none;
  transition: color 300ms;
}

.popup-menu__item--title-active > a,
.popup-menu__link:hover,
.popup-menu__link:focus {
  color: #E08B66;
}

.popup-menu__item--title-active::before {
  background-color: #E08B66;
}

.popup-menu__item--title:hover::after,
.popup-menu__item--title:focus {
  width: 100%;
}



.popup-menu-footer {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.popup-main-menu__footer {
  padding-right: 45px
}

.popup-menu-footer__item {
  margin-top: 40px;
}


.popup-main-menu__button {
  margin: 0;
  padding: 0;
  background-color: transparent;
  border: none;
}

.popup-main-menu__button--close {
  padding: 10px;
}

.popup-main-menu__close {
  position: absolute;
  top: 4px;
  right: 4px;
  transition: transform 300ms;

  &:hover {
    transform: rotate(90deg);
    cursor: pointer;
  }
}

.popup-main-menu__search {
  position: absolute;
  top: 70px;
  right: 14px;
}

.popup-main-menu__logo {
  position: absolute;
  bottom: 85px;
  width: 100%;
  box-sizing: border-box;
  text-align: center;
}

.popup-menu-footer__social {
  position: absolute;
  bottom: 145px;
  display: flex;
  justify-content: center;
  width: 100%;
  box-sizing: border-box;
}

@media screen and (min-width: 768px) {
  .popup-main-menu__inner {
    padding-left: 85px;
    padding-right: 20px;
    padding-top: 20px;
    padding-bottom: 210px;
  }

  .popup-main-menu__right {
    display: flex;
    flex-wrap: wrap;
  }

  .popup-menu {
    flex-grow: 1;
    flex-shrink: 0;
    padding: 0;
    width: 310px;
  }

  .popup-menu__link {
    font-size: 18px;
    line-height: 27px;
    letter-spacing: 3px;
  }

  .popup-menu:first-of-type {
    margin-right: 40px;
  }

  .popup-menu:nth-of-type(3) {
    width: 100% !important;
  }

  .popup-main-menu__footer {
    display: flex;
  }

  .popup-menu-footer__item {
    flex-grow: 1;
    flex-shrink: 0;
    display: flex;
    justify-content: space-between;
    width: 50%;
  }

  .popup-main-menu__close {
    top: 50px;
    left: 10px;
    right: auto;
  }
  
  .popup-main-menu__search {
    top: 135px;
    left: 20px;
    right: auto;
  }

  .popup-main-menu__logo {
    bottom: 60px;
    width: auto;
    text-align: left;
  }
  
  .popup-menu-footer__social {
    bottom: 60px !important;
    display: flex;
    right: 20px;
    width: auto;
  }
}

@media screen and (min-width: 1440px) {
  .popup-main-menu__inner {
    display: flex;
    padding: 0;
  }

  .popup-main-menu__left {
    flex-shrink: 0;
    padding-top: 70px;
    padding-left: 47px;
    width: 215px;
    box-sizing: border-box;
    border-right: 2px solid rgba(215, 130, 93, 0.2);
  }

  .popup-main-menu__logo {
    position: static;
  }

  .popup-main-menu__right {
    padding-left: 175px;
    padding-right: 250px;
    padding-bottom: 130px;
  }

  .popup-menu__item--title::before,
  .popup-menu__item--title:hover::after,
  .popup-menu__item--title:focus::after {
    width: 310px;
  }

  .popup-menu__item--title {
    margin-top: 80px;
  }

  .popup-menu:first-of-type {
    margin-right: 130px;
  }

  .popup-menu-footer {
    flex-wrap: wrap;
  }

  .popup-menu-footer__item {
    flex-grow: 1;
    flex-shrink: 0;
    width: 310px;
  }

  .popup-menu-footer__item:first-child {
    margin-right: 130px;
  }

  .popup-menu-footer__item--social {
    width: 100%;
  }

  .popup-menu-footer__social {
    position: static;
  }

  .popup-main-menu__close {
    top: 77px;
    left: 297px;
    right: auto;
  }
  
  .popup-main-menu__search {
    top: 155px;
    left: 307px;
    right: auto;
  }
}

@media screen and (min-width: 1920px) {
  .popup-main-menu {
    overflow-y: auto;
  }
  
  .popup-main-menu__right {
    padding-right: 195px;
  }

  .popup-menu {
    margin-right: 130px;
    width: 150px;
  }

  .popup-menu:nth-of-type(3) {
    width: 310px !important;
    margin-right: 0;
    flex-shrink: 0;
  }


  
  .popup-main-menu__search {
    top: 87px;
    left: auto;
    right: 100px;
  }

  .popup-main-menu__footer {
    flex-shrink: 0;
    flex-grow: 1;
    flex-wrap: nowrap;
    justify-content: space-between;
    padding: 0;
  }

  .popup-menu-footer__item {
    display: flex;
    align-items: center;
    margin-right: 130px;
    flex-grow: 1;
    width: 300px;
  }

  .popup-menu-footer__item:nth-of-type(2) {
    width: 300px;
  }

  .popup-menu-footer__social {
    margin: 0;
  }
}

















.phone-comp {
  position: relative;
  display: block;
  padding-left: 45px;
  font-family: "Intro Light";
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: #FFFFFF;
  text-decoration: none;

  &:hover .phone-comp__description {
    text-decoration: underline;
  }
}

.phone-comp__icon {
  position: absolute;
  top: 0;
  left: 0;
}

.phone-comp__description {
  display: block;
  color: #E08B66;
}

.address-comp {
  position: relative;
  display: block;
  padding-left: 45px;
  font-family: "Intro Light";
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: #FFFFFF;
  text-decoration: none;
}

.address-comp__icon {
  position: absolute;
  top: 0;
  left: 0;
}

.address-comp__address {
  font-style: normal;
}