.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background-color: rgba(0, 0, 0, 0.6);
  visibility: hidden;
  opacity: 0;
  overflow-y: auto;
  z-index: 1000;
  transition: opacity 300ms;
}

.popup--active {
  visibility: visible;
  opacity: 1;
}

.popup__close {
  padding: 5px;
  background-color: transparent;
  border: none;
  cursor: pointer;

  svg {
    width: 16px;
    height: 16px;
  }

  svg path {
    transition: fill 300ms;
  }
}

.popup__close:hover,
.popup__close:focus {
  outline: none;

  svg path {
    fill: #D7825D;
  }
}
.popup__close svg {
  transition: transform 300ms;
}

.popup__close:hover svg {
  transform: rotate(90deg);
}

@media screen and (min-width: 768px) {
  .popup__close {

    svg {
      width: 25px;
      height: 25px;
    }
  }
}