.search-section__header {
  position: relative;
  display: flex;
  align-items: center;
  margin-bottom: 40px;
}

.search-section__header {
  &::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 80px;
    height: 2px;
    background-color: #E08B66;;
  }

  @media screen and (min-width: 768px) {
    &::before {
      width: 115px;
    }
  }

  @media screen and (min-width: 1366px) {
    &::before {
      width: 200px;
    }
  }
}

.search-section__title {
  width: 45%;
  margin-right: 20px;
  background-color: transparent;
  border: none;
}

.search-section__title:focus,
.search-section__header-submit:focus {
  outline: none;
}

.search-section__header-submit {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.search-section__header-image {
  transform: scale(.7);
}

.search-section__header-result {
  margin: 0;
  font-family: "Intro Light";
  font-size: 12px;
  line-height: 120%;
  letter-spacing: 2px;
  color: #FFFFFF;
}

.search-section__header-result-span {
  display: none;
}

.search-section__not-found {
  font-family: "Intro Light";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 120%;
  letter-spacing: 2px;
  color: #FFFFFF;
}

@media screen and (min-width: 768px) {
  .search-section__header {
    justify-content: flex-start;
    margin-bottom: 50px;
  }

  .search-section__title {
    width: 30%;
    margin-right: 30px;
  }

  .search-section__header-image {
    transform: scale(.8);
  }

  .search-section__header-result-span {
    display: inline;
  }

  .search-section__header-result {
    font-size: 16px;
  }
}

@media screen and (min-width: 1366px) {
  .search-section__header {
    margin-bottom: 60px;
  }

  .search-section__header-image {
    margin-right: 15px;
    transform: scale(1.5);
  }

  .search-section__title {
    margin-right: 100px;
  }
}