<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Размер кольца</title>
  <link rel="shortcut icon" href="img/favicon.png" type="image/png">
  <link rel="stylesheet" href="css/style.css">
</head>
<body>
  <section class="popup popup-ring-size">
    <div class="popup-ring-size__inner">
        <h2 class="popup-ring-size__title section-title">определение размера кольца</h2>

        <ol class="popup-ring-size__steps-list">
          <li class="popup-ring-size__steps-item">Оберните палец плотной нитью.</li>
          <li class="popup-ring-size__steps-item">Измерьте полученную длину нити в миллиметрах с помощью линейки.</li>
          <li class="popup-ring-size__steps-item">Полученное значение сопоставьте с соответствующим размером кольца на иллюстрации ниже. </li>
        </ol>

        <ul class="popup-ring-size__size-list">
          <li class="popup-ring-size__size-item">
            <div class="popup-ring-size__size-head">
              <p class="popup-ring-size__size-text">Размер<br>15</p>
            </div>
            <p class="popup-ring-size__size">47-48мм</p>
          </li>

          <li class="popup-ring-size__size-item">
            <div class="popup-ring-size__size-head">
              <p class="popup-ring-size__size-text">Размер<br>15</p>
            </div>
            <p class="popup-ring-size__size">47-48мм</p>
          </li>

          <li class="popup-ring-size__size-item">
              <div class="popup-ring-size__size-head">
                <p class="popup-ring-size__size-text">Размер<br>15</p>
              </div>
              <p class="popup-ring-size__size">47-48мм</p>
            </li>

            <li class="popup-ring-size__size-item">
                <div class="popup-ring-size__size-head">
                  <p class="popup-ring-size__size-text">Размер<br>15</p>
                </div>
                <p class="popup-ring-size__size">47-48мм</p>
              </li>
              <li class="popup-ring-size__size-item">
                  <div class="popup-ring-size__size-head">
                    <p class="popup-ring-size__size-text">Размер<br>15</p>
                  </div>
                  <p class="popup-ring-size__size">47-48мм</p>
                </li>
                <li class="popup-ring-size__size-item">
                    <div class="popup-ring-size__size-head">
                      <p class="popup-ring-size__size-text">Размер<br>15</p>
                    </div>
                    <p class="popup-ring-size__size">47-48мм</p>
                  </li>
                  <li class="popup-ring-size__size-item">
                      <div class="popup-ring-size__size-head">
                        <p class="popup-ring-size__size-text">Размер<br>15</p>
                      </div>
                      <p class="popup-ring-size__size">47-48мм</p>
                    </li>
                    <li class="popup-ring-size__size-item">
                        <div class="popup-ring-size__size-head">
                          <p class="popup-ring-size__size-text">Размер<br>15</p>
                        </div>
                        <p class="popup-ring-size__size">47-48мм</p>
                      </li>
        </ul>

        <button class="popup-ring-size__close popup__close">
          <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M20 0.908974L19.091 0L10 9.09103L0.908974 0L0 0.908974L9.09103 10L0 19.091L0.908974 20L10 10.909L19.091 20L20 19.091L10.909 10L20 0.908974Z" fill="#D7825D"></path>
          </svg>
        </button>
    </div>
  </section>

  <script src="js/popup.js"></script>
  <script>
    if (document.querySelector(".popup-ring-size")) {
      let popup = new Popup(".popup-ring-size");

      popup.showPopup();
    }
  </script>
</body>
</html>