.call {
  position: relative;
  display: block;
  padding-left: 40px;
  font-family: "Intro Light";
  font-size: 16px;
  line-height: 150%;
  color: #fff;
  text-decoration: none;
}

.call__phone-number {
  display: block;
}

.call:hover .call__description {
  border-color: #E08B66;
}

.call__icon {
  position: absolute;
  left: 0;
}

.call__description {
  position: relative;
  display: inline-block;
  color: #E08B66;
  border-bottom: 1px solid transparent;
}

.call:nth-child(2) {
  margin-top: 15px;
}

.call:nth-child(n + 2) svg {
  display: none;
}