.input-text {
  padding-top: 10px;
  padding-bottom: 10px;
  font-family: "Lazurski";
  font-weight: normal;
  font-size: 18px;
  line-height: 26px;
  letter-spacing: 2px;
  color: #FFFFFF;
  width: 100%;
  box-sizing: border-box;
  background-color: transparent;
  border: none;

  @media screen and (min-width: 768px) {
    font-size: 24px;
    line-height: 29px;
    padding-top: 15px;
    padding-bottom: 15px;
  }
}

.input-text::placeholder {
  color: rgba(255, 255, 255, 0.5);
}

.input-text:focus::-webkit-input-placeholder {
  color: #fff;
}

.input-text:focus {
  outline: none;
}

.input-text-wrapper {
  position: relative;
}

.input-text-wrapper::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: rgba(224, 139, 102, 0.5);
}

.input-text-wrapper::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 1px;
  background-color: #E08B66;
}

.input-text-wrapper--focus .input-text-wrapper::after {
  width: 100%;
}

.input-checkbox {
  position: absolute;
  left: 0;
  padding: 0;
  margin-right: 10px;
}

.textarea-wrapper {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: rgba(224, 139, 102, 0.5);;
  }

  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 1px;
    background-color: #E08B66;
  }
}

.textarea {
  width: 100%;
  box-sizing: border-box;
  color: #fff;
  font-family: "Lazurski";
  font-size: 18px;
  line-height: 26px;
  letter-spacing: 2px;
  resize: vertical;
  background-color: transparent;
  border: none;

  @media screen and (min-width: 768px) {
    font-size: 24px;
    line-height: 29px;
    padding-top: 15px;
    padding-bottom: 15px;
  }
}

.textarea:focus {
  outline: none;
}

.textarea::placeholder {
  color: rgba(255, 255, 255, 0.5);
}

.textarea:focus::placeholder {
  color: #fff;
}

.input-checkbox::before {
  content: "";
  position: absolute;
  top: -4px;
  left: -4px;
  width: 20px;
  height: 20px;
  box-sizing: border-box;
  background-color: #160A04;
  border: 1px solid rgba(224, 139, 102, 0.3);
  z-index: 1;
}

.input-checkbox::after {
  content: "";
  position: absolute;
  display: none;
  top: -5px;
  left: -5px;
  width: 20px;
  height: 20px;
  background: url(../img/daw.svg) no-repeat 50%;
  z-index: 2;
}

.input-checkbox:checked::after {
  display: block;
}

.input-radio {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  margin-right: 10px;
  width: 20px;
  height: 20px;

  &::before {
    content: "";
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: #160D08;
    border: 1px solid #F8F8F8;
    border-radius: 50%;
    z-index: 1;
  }

  &::after {
    content: "";
    position: absolute;
    display: none;
    width: 10px;
    height: 10px;
    background-color: #E08B66;
    border-radius: 50%;
    z-index: 2;
  }

  &:checked {
    &::before {
      border-color: #E08B66;
    }
    &::after {
      display: block;
    }
  }
}

.input-submit {
  padding: 8px 62px;
  font-family: "Intro Light";
  font-size: 18px;
  line-height: 32px;
  letter-spacing: -0.191667px;
  color: #E08B66;
  background-color: transparent;
  border: 1px solid rgba(224, 139, 102, 0.5);
  cursor: pointer;

  &:focus {
    outline: none;
  }
}

.input-submit-wrapper {
  position: relative;
  display: inline-block;
  z-index: 0;
}

.input-submit-wrapper::before {
  content: "";
  position: absolute;
  display: block;
  top: -5px;
  left: -5px;
  right: -5px;
  bottom: -5px;
  border: 1px solid #E08B66;
  z-index: -1;
  transition: 300ms;
}

.input-submit-wrapper:hover::before {
  top: -10px;
  left: -10px;
  right: -10px;
  bottom: -10px;
}

.label {
  font-family: "Intro Light";
  font-size: 14px;
  line-height: 21px;
  color: #FFFFFF;
}



.diel-select {
  position: relative;
  display: inline-block;
  color: #FFFFFF;
  border: 1px solid rgba(255,255,255,.5);
  transition: border-color 300ms;
  cursor: pointer;
}

.diel-select:hover,
.diel-select:focus {
  border-color: #fff;
}

.diel-select__button {
  padding: 10px;
  width: 100%;
  text-align: left;
  font-family: "Intro Light";
  font-size: 12px;
  line-height: 21px;
  color: #FFFFFF;
  background-color: transparent;
  background-image: url(./../img/arrow_down.svg);
  background-repeat: no-repeat;
  background-position: right 15px top 50%;
  border: none;
  transition: border-color 300ms;
  outline: none;
  cursor: pointer !important;

  @media screen and (min-width: 768px) {
    padding: 10px 20px;
    font-size: 16px;
    line-height: 32px;
  }
}

.diel-select__button:hover {
  border-color: #fff;
}

.diel-select__button-text {
  padding-right: 15px;
}

.diel-select__button-filter {
  background-image: url(./../img/filter.svg);
}

.diel-select__list {
  position: absolute;
  visibility: hidden;
  margin: 0;
  padding: 0;
  height: 0;
  list-style-type: none;
  z-index: 100;
}

.diel-select-list__item {
  padding: 10px;
  font-family: "Intro Light";
  font-size: 12px;
  line-height: 21px;
  color: #FFFFFF;
  transition: color 300ms;

  @media screen and (min-width: 768px) {
    padding: 0 20px;
    font-size: 16px;
    line-height: 32px;
  }
}

.diel-select-list__item:hover {
  color: #E08B66;
}

.diel-select--active {
  border-color: #E08B66 !important;
  background-color: #220F06;

  .diel-select__button-text {
    padding-bottom: 6px;
    border-bottom: 1px solid #E08B66;
  }

  .diel-select__list {
    visibility: initial;
    width: 100%;
    height: auto;
  }

  .diel-select__button {
    color: #E08B66;
  }

  .diel-select-list__item {
    margin-left: -1px;
    padding-bottom: 10px;
    width: calc(100% + 2px);
    box-sizing: border-box;
    background-color: #220F06;
    border-left: 1px solid #E08B66;
    border-right: 1px solid #E08B66;
  }

  .diel-select-list__item:last-child {
    border-bottom: 1px solid #E08B66;
  }
}