.operating-mode {
  position: relative;
  padding-left: 40px;
}

.operating-mode svg {
  position: absolute;
  top: 10px;
  left: 0;
}

.operating-mode__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.operating-mode__item {
  font-family: "Intro Light";
  font-size: 16px;
  line-height: 30px;
  color: #FFFFFF;
}