.requisites {
  color: #FFFFFF;
}

.requisites__title {
  margin: 0;
  margin-bottom: 15px;
  font-family: "Lazurski";
  font-weight: normal;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 2px;
}

.requisites__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.requisites__item {
  padding: 5px 0;
}