.section-title {
  position: relative;
  display: inline-block;
  margin: 0;
  margin-left: -3px;
  color: #E08B66;
  font-size: 24px;
  line-height: 32px;
  font-family: "Lazurski";
  font-weight: normal;
  letter-spacing: 2px;
  text-transform: uppercase;

  &::before {
    content: "";
    position: absolute;
    bottom: -5px;
    display: block;
    width: 75px;
    height: 2px;
    background-color: #E08B66;
  }

  @media screen and (min-width: 768px) {
    font-size: 36px;
    line-height: 42px;

    &::before {
      width: 115px;
    }
  }

  @media screen and (min-width: 1366px) {
    font-size: 64px;
    line-height: 80px;

    &::before {
      width: 200px;
    }
  }
}

.section-title__span-white {
  color: #fff;
}

.section-title-small {
  position: relative;
  display: inline-block;
  margin: 0;
  padding-bottom: 5px;
  font-family: "Lazurski";
  font-weight: normal;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 2px;

  color: #F8F8F8;

  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 80%;
    height: 2px;
    background-color: #E08B66;
  }
}